
`{{baseName}}`::
+
[%autowidth,frame=none]
|===
|{{^required}}Optional{{/required}}{{#required}}Required{{/required}}|Default: {{^defaultValue}}None{{/defaultValue}}{{#defaultValue}}{{defaultValue}}{{/defaultValue}}
|===
+
{{description}}
