<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~  the License.  You may obtain a copy of the License at
  ~
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<div id="index" class="clearfix" *ngIf="isDataAvailable()">

  <div class="clearfix">

    <div class="index-left">

      <div class="block" id="instance">

        <h2><span>Instance</span></h2>

        <div class="content">

          <ul class="data">

            <li class="start_time"><dl class="clearfix">
              <dt><span>Start</span></dt>
              <dd class="timeago">{{startTime() | timeAgo}}</dd>
            </dl></li>
          </ul>

        </div>

      </div>

      <div class="block" id="versions">

        <h2><span>Versions</span></h2>

        <div class="content">

          <ul class="data">

            <li class="solr solr_spec_version"><dl class="clearfix">
              <dt><span>solr-spec</span></dt>
              <dd>{{solrSpecificationVersion()}}</dd>
            </dl></li>

            <li class="solr_impl_version"><dl class="clearfix">
              <dt class=""><span>solr-impl</span></dt>
              <dd>{{solrImplementationVersion()}}</dd>
            </dl></li>

            <li class="lucene lucene_spec_version"><dl class="clearfix">
              <dt><span>lucene-spec</span></dt>
              <dd>{{luceneSpecificationVersion()}}</dd>
            </dl></li>

            <li class="lucene_impl_version"><dl class="clearfix">
              <dt><span>lucene-impl</span></dt>
              <dd>{{luceneImplementationVersion()}}</dd>
            </dl></li>

          </ul>

        </div>

        <div class="content" *ngIf="isOldRelease()">
          <p class="warning-msg"><img alt="Outdated release"/>&nbsp;WARNING: This Solr release is more than a year old. Consider upgrading.</p>
        </div>
      </div>

    </div>

    <div class="index-right">

      <div class="block" id="system">

        <h2><span>System</span>
          <small class="bar-desc">{{averageLoad()}}</small>
        </h2>
        <a class="reload" ng-click="reload()"><span>reload</span></a>

        <div class="content">

          <div id="physical-memory-bar" *ngIf="isMemoryInformationAvailable()">

            <p data-desc="physical-memory-bar">Physical Memory
              <small class="bar-desc">{{freeJvmMemory()}}</small>
            </p>
            <div class="bar-holder bar-lvl-2">

              <div class="bar-max bar">
                <span class="bar-max val">{{maxMemory()}}</span>

                <div class="bar-total bar" ng-style="{width:memoryInPercents()}">
                  <span class="bar-total val" title="raw: {{availableMemory()}}B">{{ availableMemory() | sizeUnitConverter }}</span>

                </div>

              </div>

            </div>

          </div>

          <div id="swap-space-bar" *ngIf="isSwapInformationAvailable()">

            <p data-desc="swap-space-bar">Swap Space
              <small class="bar-desc">{{swapInPercents()}}</small>
            </p>
            <div class="bar-holder bar-lvl-2">

              <div class="bar-max bar">
                <span class="bar-max val">{{swapMax()}}</span>

                <div class="bar-total bar" ng-style="{width:swapInPercents()}">
                  <span class="bar-total val" title="raw:{{swapAvailable()}}B">{{ swapAvailable() | sizeUnitConverter }}</span>

                </div>

              </div>

            </div>

          </div>

          <div id="file-descriptor-bar" *ngIf="isFileDescriptorInformationAvailable()">

            <p data-desc="file-descriptor-bar">File Descriptor Count
              <small class="bar-desc">{{fileDescriptors()}}</small>
            </p>
            <div class="bar-holder bar-lvl-2">

              <div class="bar-max bar">
                <span class="bar-max val">{{maxDescriptors()}}</span>

                <div class="bar-total bar" ng-style="{width:fileDescriptors()}">
                  <span class="bar-total val">{{openedDescriptors()}}</span>

                </div>

              </div>

            </div>

          </div>

          <p class="no-info" *ngIf="noIformationAvailable()">Sorry, no information available</p>

        </div>

      </div>

    </div>

  </div>

  <div class="clearfix">

    <div class="index-left">

      <div class="block" id="jvm">

        <h2><span>JVM</span></h2>

        <div class="content clearfix">

          <ul class="data">

            <li class="jvm_version"><dl class="clearfix">
              <dt><span>Runtime</span></dt>
              <dd>{{javaMachineInformation()}}</dd>
            </dl></li>

            <li class="processors"><dl class="clearfix">
              <dt><span>Processors</span></dt>
              <dd>{{amountProcessors()}}</dd>
            </dl></li>

            <li class="command_line_args">
              <dl class="clearfix">
                <dt><span>Args</span></dt>
                @for (arg of cmdArguments(); track $index){
                <dd [ngClass]="{odd:isOdd($index)}">{{ arg }}</dd>
                } @empty {
                  <dd>No arguments to display</dd>
                }
              </dl>
            </li>

          </ul>

        </div>

      </div>

    </div>
    <div class="index-right">

      <div class="block" id="jvm-memory">

        <h2><span data-desc="jvm-memory-bar">JVM-Memory
       <small class="bar-desc">{{javaMemoryPercentage()}}</small></span></h2>

        <div class="content">

          <div id="jvm-memory-bar">
            <div class="bar-holder bar-lvl-3">

              <div class="bar-max bar">
                <span class="bar-max val" title="raw: {{javaMemoryMax()}}B">{{javaMemoryMax() | sizeUnitConverter}}</span>

                <div class="bar-total bar" ng-style="{width: javaMemoryTotalPercentage()}">
                  <span class="bar-total val" title="raw: {{javaMemoryTotal()}}B">{{javaMemoryTotal() | sizeUnitConverter}}</span>

                  <div class="bar-used bar" ng-style="{width: javaMemoryUsedPercentage}">
                    <span class="bar-used val" title="raw: {{javaMemoryUsed()}}B">{{javaMemoryUsed() | sizeUnitConverter}}</span>

                  </div>

                </div>

              </div>

            </div>
          </div>

        </div>

      </div>
      <div class="block" id="security">
<!--        <app-security-components/>-->

      </div>

    </div>

  </div>

</div>
