{{>licenseInfo}}

package {{package}};

// This is the right way to import the types I need, but I can't understand why it keeps
//bringing in gson classes, so excluding for now.
//{{#imports}}
//    import {{import}};
//{{/imports}}

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import java.util.Objects;
import java.util.Arrays;

import com.fasterxml.jackson.annotation.JsonPropertyOrder;
import com.fasterxml.jackson.annotation.JsonTypeName;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;

{{#models}}
{{#model}}
{{#isEnum}}{{>modelEnum}}{{/isEnum}}
{{^isEnum}}{{>pojo}}{{/isEnum}}
{{/model}}
{{/models}}
