<footer class="footer">
  <!-- Solr Changes - Start -->
  <p> &copy; Apache Software Foundation. All rights reserved.</p>
  <script async src="{{{uiRootPath}}}/js/vendor/tabs.js"></script>
  <!-- Solr Changes - End -->
</footer>
