<!-- Solr Changes - Start -->
<nav class="toc sidebar" data-title="{{or page.attributes.toctitle 'On This Page'}}" data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="toc-menu"></div>
</nav>
<!-- Solr Changes - End -->