name: Solr Script Tests

on:
  pull_request:
    branches:
      - '*'
    paths:
      - '.github/workflows/bin-solr-test.yml'
      - 'solr/bin/**'
      - 'solr/packaging/**'
      - 'solr/core/src/java/org/apache/solr/cli/**'

jobs:
  test:
    name: Run Solr Script Tests

    runs-on: ubuntu-latest
    timeout-minutes: 40

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - uses: ./.github/actions/prepare-for-build

    - name: Test the bin/solr script
      run: ./gradlew integrationTests

    - name: Archive logs
      if: ${{ failure() }}
      uses: actions/upload-artifact@v6
      with:
        name: logs
        path: solr/packaging/build/test-output
