name: Solr Script Tests

on:
  pull_request:
    branches:
      - 'main'
    paths:
      - '.github/workflows/bin-solr-test.yml'
      - 'solr/bin/**'
      - 'solr/packaging/**'

jobs:
  test:
    name: Run Solr Script Tests

    runs-on: ubuntu-latest

    steps:
    # Setup
    - uses: actions/checkout@v3
    - name: Set up JDK 20
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 20
        java-package: jdk
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
        key: ${{ runner.os }}-gradle-binsolr-${{ hashFiles('versions.lock') }}
        restore-keys: |
          ${{ runner.os }}-gradle-binsolr-
          ${{ runner.os }}-gradle-
    - name: Test the bin/solr script
      run: ./gradlew integrationTests
    - name: Archive logs
      if: ${{ failure() }}
      uses: actions/upload-artifact@v3
      with:
        name: logs
        path: solr/packaging/build/test-output

