name: Gradle Precommit

on: 
  pull_request:
    branches:
      - 'main'
      - 'branch_*'

jobs:
  test:
    name: gradle check

    runs-on: ubuntu-latest

    env:
      DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}

    steps:
    # Setup
    - uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 21
        java-package: jdk

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
        key: ${{ runner.os }}-gradle-precommit-${{ hashFiles('**/*.lockfile') }}
        restore-keys: |
          ${{ runner.os }}-gradle-precommit-
          ${{ runner.os }}-gradle-

    - name: Run gradle check (without tests)
      run: ./gradlew check -x test -Ptask.times=true

    - uses: gradle/wrapper-validation-action@v3
