# This test covers TikaServer tests for SolrCell, since crave does not support docker yet.
name: Extraction module tests with Docker

on:
  pull_request:
    branches:
      - '*'
    paths:
      - 'solr/modules/extraction/**'

jobs:
  test:
    name: extraction module tests with docker

    runs-on: ubuntu-latest
    timeout-minutes: 15

    env:
      DEVELOCITY_ACCESS_KEY: ${{ secrets.SOLR_DEVELOCITY_ACCESS_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 11
          java-package: jdk

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
          key: ${{ runner.os }}-gradle-precommit-${{ hashFiles('versions.lock') }}
          restore-keys: |
            ${{ runner.os }}-gradle-precommit-
            ${{ runner.os }}-gradle-

      - name: Run extraction module tests
        run: ./gradlew --no-daemon solr:modules:extraction:check
