name: Gradle Precommit

on: 
  pull_request:
    branches:
      - 'main'
      - 'branch_*'

jobs:
  test:
    name: gradle check w/ Java 11

    runs-on: ubuntu-latest

    env:
      GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_ACCESS_TOKEN }}

    steps:
    # Setup
    - uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: 11
        java-package: jdk

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
        key: ${{ runner.os }}-gradle-precommit-${{ hashFiles('versions.lock') }}
        restore-keys: |
          ${{ runner.os }}-gradle-precommit-
          ${{ runner.os }}-gradle-

    - name: Run gradle check (without tests)
      run: ./gradlew check -x test -Ptask.times=true

    - uses: gradle/wrapper-validation-action@v2
