name: Gradle Precommit

on: 
  pull_request:
    branches:
      - 'main'
      - 'branch_*'

jobs:
  test:
    name: gradle check w/ Java 11

    runs-on: ubuntu-latest

    env:
      DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}

    steps:
    # Setup
    - uses: actions/checkout@v5

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: 17
        java-package: jdk

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
        key: ${{ runner.os }}-gradle-precommit-${{ hashFiles('versions.lock') }}
        restore-keys: |
          ${{ runner.os }}-gradle-precommit-
          ${{ runner.os }}-gradle-

    - name: Run gradle check (without tests)
      run: ./gradlew check -x test -Ptask.times=true

    - name: Validate Gradle wrapper
      uses: gradle/actions/wrapper-validation@v4
