name: SolrJ Tests

on:
  pull_request:
    branches:
      - '*'
    paths:
      - '.github/workflows/solrj-test.yml'
      - 'solr/solrj/**'

jobs:
  test:
    name: Run SolrJ Tests

    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - uses: ./.github/actions/prepare-for-build

    - name: Test the SolrJ Package
      run: ./gradlew solr:solrj:test
