name: SolrJ Tests

on:
  pull_request:
    branches:
      - 'main'
      - 'branch_*'
    paths:
      - '.github/workflows/solrj-test.yml'
      - 'solr/solrj/**'
  # Wait for dependabot tasks to complete, if any
  workflow_run:
    workflows:
      - Dependabot Tasks
    types:
      - completed

jobs:
  test:
    name: Run SolrJ Tests

    runs-on: ubuntu-latest

    env:
      DEVELOCITY_ACCESS_KEY: ${{ secrets.GE_ACCESS_TOKEN }}

    steps:
    # Setup
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}
        fetch-depth: 0
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 21
        java-package: jdk
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
        key: ${{ runner.os }}-gradle-solrj-${{ hashFiles('versions.lock') }}
        restore-keys: |
          ${{ runner.os }}-gradle-solrj-
          ${{ runner.os }}-gradle-
    - name: Test the SolrJ Package
      run: ./gradlew solr:solrj:test
