name: SolrJ Tests

on:
  pull_request:
    branches:
      - 'main'
      - 'branch_*'
    paths:
      - '.github/workflows/solrj-test.yml'
      - 'solr/solrj/**'

jobs:
  test:
    name: Run SolrJ Tests

    runs-on: ubuntu-latest

    env:
      GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_ACCESS_TOKEN }}

    steps:
    # Setup
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 11
        java-package: jdk
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
        key: ${{ runner.os }}-gradle-solrj-${{ hashFiles('versions.lock') }}
        restore-keys: |
          ${{ runner.os }}-gradle-solrj-
          ${{ runner.os }}-gradle-
    - name: Test the SolrJ Package
      run: ./gradlew solr:solrj:test
