name: Solr Tests

on:
  pull_request:
    branches:
      - 'main'
      - 'branch_9x'

jobs:
  test:
    name: Run Solr Tests using Crave.io resources

    runs-on: self-hosted

    steps:
    - name: Destroy previous clone
      run: crave clone destroy -y /crave-devspaces/pipeline/runs/${GITHUB_RUN_ID}_${GITHUB_RUN_NUMBER} || echo "Clone did not exist"
      continue-on-error: true
    - name: Crave clone sources
      run: crave clone create --projectID 39 /crave-devspaces/pipeline/runs/${GITHUB_RUN_ID}_${GITHUB_RUN_NUMBER}
    - name: Checkout the correct branch
      run: |
        git -C /crave-devspaces/pipeline/runs/${GITHUB_RUN_ID}_${GITHUB_RUN_NUMBER} fetch origin ${GITHUB_REF}:${GITHUB_REF}
        git -C /crave-devspaces/pipeline/runs/${GITHUB_RUN_ID}_${GITHUB_RUN_NUMBER} checkout ${GITHUB_REF}
    - name: Initialize, build, test
      run: |
        cd /crave-devspaces/pipeline/runs/${GITHUB_RUN_ID}_${GITHUB_RUN_NUMBER}
        crave run --clean
    - name: Delete Clone
      run: crave clone destroy -y /crave-devspaces/pipeline/runs/${GITHUB_RUN_ID}_${GITHUB_RUN_NUMBER}
